@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Master.cshtml");
}

@Html.Partial(SConfig.GetThemedTemplate("Components/_TopNavigation.cshtml"))

<div class="container sd-body-content">
    <div class="row">

        @*<div class="sub-nav" m-current-subfolder="2016">
            <h2>
                <a href="#">&nbsp</a>

            </h2>

            <ul></ul>
        </div>*@

        <div class="col-lg-8 col-md-8 col-sm-8">
            @RenderBody()

            

            @Html.Partial(SConfig.GetThemedTemplate("Components/_LastTenBlogPosts.cshtml"))
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            @Html.Partial(SConfig.GetThemedTemplate("Components/_SidebarBlog.cshtml"))
        </div>

    </div>
</div>

@Html.Partial(SConfig.GetThemedTemplate("Components/_Footer.cshtml"))
