@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Main.Master.cshtml");
}

@Html.Partial(SConfig.GetThemedTemplate("Components/_Main.TopNavigation.cshtml"))

<div class="container body-content sd-body-content">

    <div class="row sps-secondnav">
        @Html.Partial(SConfig.GetThemedTemplate("Components/_Docs.SecondNavigation.cshtml"))
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 sps-sidebar">
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Docs.Sidebar.cshtml"))
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 sps-document">

            <div class="sps-document-header-cnt">

                <nav class="pull-right sps-document-header-editor">
                    <a href="#">
                        <div class="fa fa-pencil fa-right"></div>Suggest Edits
                    </a>
                </nav>

                <h3 class="">
                    <span>@Model.Get("Title")</span>
                </h3>
            </div>

            @RenderBody()

            @Html.Partial(SConfig.GetThemedTemplate("Components/_Main.PrevNextNavigation.cshtml"))
        </div>



    </div>
</div>
