<!doctype html>
<html lang="en">
<head>
    @{

        try
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Override.Head.cshtml"));
        }
        catch
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Main.Head.cshtml"));
        }

        try
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Custom.Head.cshtml"));
        }
        catch
        {

        }
    }
</head>

<body>
    <div class="main-wrapper">

        @RenderBody()

        @{
            try
            {
                @Html.Partial(SConfig.GetThemedTemplate("Components/_Override.Footer.cshtml"));
            }
            catch
            {
                @Html.Partial(SConfig.GetThemedTemplate("Components/_Main.Footer.cshtml"));
            }
        }
    </div>


    @{
        try
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Override.Scripts.cshtml"));
        }
        catch
        {
             @Html.Partial(SConfig.GetThemedTemplate("Components/_Main.Scripts.cshtml"));
        }

        try
        {
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Custom.Scripts.cshtml"));
        }
        catch
        {

        }
    }
</body>
</html>
