@{
    Layout = SConfig.GetThemedTemplate("Layouts/_Master.cshtml");
}

@Html.Partial(SConfig.GetThemedTemplate("Components/_TopNavigation.cshtml"))

<div class="container body-content sd-body-content">

    <div class="row sps-secondnav">
        @Html.Partial(SConfig.GetThemedTemplate("Components/_SecondNavigation.cshtml"))
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 sps-sidebar">
            @Html.Partial(SConfig.GetThemedTemplate("Components/_Sidebar.cshtml"))
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 sps-document">
            @RenderBody()

            @Html.Partial(SConfig.GetThemedTemplate("Components/_PrevNextNavigation.cshtml"))
        </div>

        

    </div>
</div>
